* {
  font-family: 'Sora', sans-serif;
  font-weight: 1000;
}

.header-settings {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.logo-mambo4 {
  width: 80%;
  margin-top: 7px;
}

.login {
  border-radius: 24px;
  background-color: #38548c;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.login-desktop {
  display: none;
}

.login p {
  margin: 0;
}

.login-title {
  margin: 0;
}

.login-title-desktop {
  display: none;
}

.button-change-login {
  display: inline-block;
  border: solid;
  border-radius: 24px;
  padding: 10px;
}

.button-change-login:hover,
.save:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.parameters {
  background-color: #c0392b;
  border-radius: 24px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.one-parameter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-radius: 24px;
  margin-bottom: 5px;
  padding-left: 15px;
  width: 80%;
}

.one-parameter:last-of-type {
  margin-bottom: 0;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-right: 15px;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #f1c40f;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

.sounds {
  background-color: #47864a;
  border-radius: 24px;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.emojis {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.emoji-cat,
.emoji-music,
.emoji-poo {
  width: 50px;
  padding: 5px;
}

.emoji-default {
  transform: scale(1.4);
}

.contener-save {
  display: flex;
  justify-content: center;
}

.save {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1px;
  background-color: #f1c40f;
  border-radius: 24px;
  color: #ffffff;
  font-family: 'Sora', sans-serif;
  font-size: 20px;
  border-color: #f1c40f;
  cursor: pointer;
  outline: none;
}

.save-link {
  text-decoration: none;
}

.choose-your-sounds {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .display-current-user {
    font-size: 35px;
  }
  .settings-body {
    padding-left: 0;
    padding-right: 0px;
  }

  .one-parameter {
    font-size: 20px;
  }
  .choose-your-sounds {
    font-size: 35px;
  }

  .login-title {
    font-size: 35px;
  }
  .emoji-cat:hover,
  .emoji-music:hover,
  .emoji-poo:hover {
    transform: scale(0.9);
    cursor: pointer;
  }
  .save {
    font-size: 30px;
  }

  @media screen and (min-width: 1200px) {
    .logo-mambo4 {
      width: 50%;
    }
    .display-current-user {
      font-size: 30px;
    }

    .login-desktop:hover {
      transform: scale(0.97);
      cursor: pointer;
    }

    .login-title-desktop {
      display: inline;
      margin: 0;
      font-size: 30px;
    }

    .login-title {
      display: none;
    }

    .button-change-login {
      display: none;
    }

    .parameters {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      background-color: #c0392b;
      border-radius: 24px;
      color: white;
      padding: 30px;
      margin-bottom: 30px;
      font-size: 25px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .one-parameter:nth-child(2n) {
      margin-right: 0;
    }

    .one-parameter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
      margin-right: 20px;
    }

    .one-parameter:last-of-type {
      margin-bottom: 5px;
    }

    .sounds {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 10px;
    }

    .emojis {
      margin-top: 0;
      width: 40%;
    }

    .emoji-cat:hover,
    .emoji-music:hover,
    .emoji-poo:hover {
      transform: scale(0.9);
      cursor: pointer;
    }

    .save {
      font-size: 30px;
    }
  }
}
