* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

}
body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  
}

h1 {
  text-align: center;
}
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 800px; */
  width: 100%;
  overflow: hidden;
}

.sectionName {
  top: 50%;
  left: 50%;
  width: 300px;

  margin-right: 10px;
  border: solid 5px white;
  background-color: #38548c;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;

}

.front {
  visibility: visible;
}
.sectionName > * {
  padding: 10px;
  margin: 5px;
  color: white;
}
.sectionName > input[type='text'] {
  color: black;
  border-radius: 15px;
  border-width: 0px;
}
#nomJoueur {
  width: 80%;
}
.sectionName > input[type='button'] {
  width: 60%;
  background-color: #c0392b;
  box-sizing: border-box;
  border-radius: 45px;
  border-width: 0px;
  font-weight: bold;
}

@media screen and (min-width: 400px) {
  .sectionName {
    margin-left: auto;
    margin-right: auto;
  }
}
