*{
    font-family: ‘Sora’, sans-serif;
    font-weight: 1000;
}

/*
Desktop
@media scrren and (min-width : 1024px){
}
Tablette
@media screen and (min-width : 600px) and (max-width : 1024px){
}
Mobile
@media screen and (max-width: 600px){
}
*/

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
}

header img{
    width: 85%;
    margin-top : 8%;
    margin-bottom: 3%;
}

nav ul li{
    list-style : none;
    position: fixed;
    right: 2.5%;
    top: 2%;

}

li button{
    border-radius: 20px;    
    box-shadow: 5px 5px 7px black;
    background-color: #f1c40f;
    padding: 22px 30px 22px 30px;
    border : 2px solid black;
}

li button:hover{
    box-shadow: 5px 5px 8px #f1c40f;
    cursor: pointer;
}

article{
    border : 5px solid black;
    box-shadow: 15px 15px 20px black;
    width : 70%;
    height: 900px;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 125px;
}

.Laurence{
    background-color : #C0392B;
    opacity: 0.97;
}

.Amandine{
    background-color : #38548C;
    opacity: 0.97;
}

.Nicolas{
    background-color : #f1c40f;
    opacity: 0.97;
}

.Gilles{
    background-color : #47864A;
    opacity: 0.97;
}

.Cédric{
    background-color : #FF8333;
    opacity: 0.97;
}

.Laurence:hover{
    box-shadow: 15px 15px 15px #f1c40f;
    opacity: 1;
    border : 5px solid #f1c40f;
    cursor: pointer;
}

.Amandine:hover{
    box-shadow: 15px 15px 15px #FF8333;
    opacity: 1;
    border : 5px solid #FF8333;
    cursor: pointer;

}

.Nicolas:hover{
    box-shadow: 15px 15px 15px #47864A;
    opacity: 1;
    border : 5px solid #47864A;
    cursor: pointer;
}

.Gilles:hover{
    box-shadow: 15px 15px 15px #38548C;
    opacity: 1;
    border : 5px solid #38548C;
    cursor: pointer;
}

.Cédric:hover{
    box-shadow: 15px 15px 15px #C0392B;
    opacity: 1;
    border : 5px solid #C0392B;
    cursor: pointer;
}