* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}
/* .opaque {
  opacity: 0.51;
  z-index: 1;
}
.front {
  opacity: 1;
  z-index: 2;
} */
h1 {
  text-align: center;
}
.sectionName {
  z-index: 1;
  width: 100%;
  display: flex;
  width: 300px;
  border: solid 5px white;
  background-color: #38548c;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}
.sectionName > * {
  padding: 10px;
  margin: 5px;
  color: white;
}
.sectionName > input[type='text'] {
  color: black;
  border-radius: 15px;
  border-width: 0px;
}
#nomJoueur {
  width: 80%;
}
.sectionName > input[type='button'] {
  width: 60%;
  background-color: #c0392b;
  box-sizing: border-box;
  border-radius: 45px;
  border-width: 0px;
  font-weight: bold;
}
